.content {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .content .item {
    display: flex;
    align-items: center; }
    .content .item .sort {
      font-size: 16px;
      color: #ddd; }
    .content .item .img {
      width: 400px;
      height: 400px;
      border-radius: 20px; }
      .content .item .img:nth-child(even) {
        border-radius: 50%; }
    .content .item .recommend {
      width: 60%;
      display: flex;
      flex-direction: column; }
      .content .item .recommend .name {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .content .item .recommend .info {
        font-size: 16px;
        color: #ddd;
        margin: 10px 0px; }
