
.app {
  box-sizing: border-box;
  background-color:#fff;
}
/******** 滚动条样式 ********/
* {
  outline: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(223, 59, 59, 0.5);
  }
}
