@charset "UTF-8";
/* @import '~antd/dist/antd.css' */
.app {
  width: 750px;
  margin: 10px auto; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px; }

/******** 滚动条样式 ********/
* {
  outline: none; }
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  *::-webkit-scrollbar-button {
    display: none; }
  *::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent; }
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(223, 59, 59, 0.5); }
